<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs', {
    titulo: 'Página home'
}) -%>
<body>
    <!-- Importamos el archivo de navegación -->
    <%- include('./partials/nav.ejs') -%>
    <h1><%= titulo %></h1>
</body>
</html>