<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs', {
    titulo
}) -%>
<body>
    <%- include('../partials/nav.ejs') -%>
    <h1><%= titulo %></h1>
    <p>Acá un form de contacto.</p>
</body>
</html>